@charset "utf-8";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// // For the preview iframe thing.
// // Does this fubar usage on mobiles?
// $modal-content-width: 1200px;
// // Default was 20px;
// $modal-card-body-padding:0;

@import "../node_modules/bulma/bulma.sass";

// .modal-card-foot {
//   display: block;
// }

.revisions {
  max-height: 140px;
  overflow: scroll;
  h5 {
    margin-bottom: 4px;
  }
  ul {
    margin-top: 3px;
    margin-left: 10px;
  }
  li {
    font-size: 80%;
  }
}


section {
  padding-top: 0;

  div.hero-body {
    padding: 15px;
  }
}


div.container.locales {
  .title {
    margin-top: 20px;
  }
}

div.container.locale {
  .title {
    margin-top: 0;
    margin-bottom: 3px;
  }
}


div.delete-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 120px;
  h5 {
    text-align: center;
    font-weight: bold;
    font-size: 350%;
  }
}
